* {box-sizing: border-box; padding: 0; margin: 0;}

.header {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  background-color: #ddd;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  background-color: #abcdef;
}

.word {
  font-size: 5em;
}

.containerImage {
  position: relative;
  width: 100%;
  height: 400px;
}

.containerImage img {
  width: 100%;
}

.phrase {
  position: absolute;
  top: 25%;
  left: 15%;
  font-size: 3em;
  color: white;
}

.capitais {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-around;
  background-color: #f0f0f0;
  padding: 50px;
}

.cidade {
  width: 45%;
  margin: 10px;
  border: 2px solid #333;
  border-radius: 10px;
}

.imagem {
  display: inline-block;
  width: 45%;
  margin-right: 10px;
}

.imagem img {
  width: 100%;
}

.nome {
  display: inline-block;
  width: 50%;
}

.nome p {
  font-size: 1.5em;
  margin: 0;
}